@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"); */
@import "swiper/css";
@import "swiper/css/bundle";
@import "./styles/components/header.css";
@import "./styles/components/covLXSlider.css";
@import "./styles/components/gallery.css";
@import "./styles/components/photogSnippet.css";
@import "./styles/components/quickLinks.css";
@import "./styles/pages/portfolio.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-helvetica: "Helvetica", sans-serif;
  --font-hoefler: "Hoefler", serif;
  --font-inter: "Inter", sans-serif;
  --swiper-theme-color: var(--color-primary) !important;
}

@theme {
  --color-primary: #4db5f7;
  --color-secondary: #5a5a5a;
  --color-covLightGray: #f9f9f9;
  --color-gold: #a79b7d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-secondary: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
}

h1,
h2,
h3,
li {
  font-family: var(--font-hoefler);
}

.not-used {
  @apply text-6xl mb-5 border-b-gold w-80 border-b-2 mx-auto;
}

p {
  @apply md:text-2xl text-xl tracking-wide md:leading-9 leading-7;
}

footer {
  @apply flex items-center justify-center text-secondary h-24 mx-10;
}

main {
  @apply flex-grow items-center;
}

.cov-container {
  @apply container mx-auto xl:px-52 px-10 pt-10;
}

.cov-container-page {
  @apply container mx-auto lg:px-32 px-10;
}

.cborder {
  @apply border-2 border-red-500;
}

button {
  @apply hover:bg-primary transition-colors uppercase tracking-widest py-3 md:px-5 w-full bg-gold text-white rounded;
}

label,
input,
textarea {
  @apply w-full;
}

label {
  @apply text-2xl font-semibold;
}

input,
textarea {
  @apply ring-2 hover:ring-gold ring-primary rounded p-5 mt-3;
}

.pageH1 {
  @apply text-5xl border-b-gold border-b-2 pb-3 w-1/2 text-center mx-auto mb-16;
}

nav a {
  @apply cursor-pointer;
}

.gallery-name {
  @apply my-5 md:text-2xl text-base uppercase tracking-widest border-y-2 py-2 border-y-gold;
}

.sub-title {
  @apply italic p-2 text-lg text-secondary;
}
