@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-helvetica: 'Helvetica', sans-serif;
  --font-hoefler: 'Hoefler', serif;
  --font-inter: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter);
}

h1, h2, h3, li {
  font-family: var(--font-hoefler);
}

p {
  @apply md:text-2xl text-xl tracking-wide md:leading-9 leading-7;
}

footer {
  @apply row-start-3 flex gap-6 flex-wrap items-center justify-center text-covGray h-24;
}

main {
  @apply flex-grow items-center;
}

.cov-container {
  @apply container mx-auto xl:px-52 px-10 pt-10;
}

.cborder {
  @apply border-2 border-red-500;
}

button {
  @apply hover:bg-skyBlue transition-colors uppercase tracking-widest py-3 md:px-5 w-full bg-gold text-white rounded;
}

label, input, textarea {
  @apply w-full;
}

label {
  @apply text-2xl font-semibold;
}

input, textarea {
  @apply ring-2 hover:ring-gold ring-skyBlue rounded p-5 mt-3 !important;
}

.pageH1 {
  @apply text-5xl border-b-gold border-b-2 pb-3 w-1/2 text-center mx-auto mb-16;
}