@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  @apply row-start-3 flex gap-6 flex-wrap items-center justify-center text-covGray h-24;
}

main {
  @apply flex-grow items-center;
}

.cov-container {
  @apply container mx-auto xl:px-52 px-10 pt-10;
}